.my-container {
  overflow-y: auto;
  height: 100%;

}
.my-title {
  min-height: 300px;
  position: relative;
}
.my-container .my-title>img{
  width: 100%;
}
.my-container .my-title .info {
  width: 50%;
  height: 60%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 2px #ccc;
  margin: 50px auto 0;
  padding: 0 20px;
  text-align: center;
  padding-top:50px;
}
.my-title .myicon img{
background-color: #fff;
width: 90px;
height: 90px;
border-radius: 50%;
position: relative;
top: -120px;
left: 50%;
transform:translateX(-50%);
z-index: 999;
box-shadow: 2px 2px 2px #ccc;
}

/* .myicon  {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
} */

.my-container .my-title .info .name {
  font-size: 18px;
  margin-bottom: 10px;
}
.my-container .my-title .info .edit {
  margin-top:10px;
  color: rgb(121, 111, 111);   
} 

.my_content{
  margin-top: 20px;
 display: flex;
 flex-wrap:wrap;
 justify-content:space-around;
 align-items:center;
 text-align: center;
}
.my_content .item {
  height: 120px;
  padding-top: 30px;
  width: 33.33%;
 /* background-color: pink; */
 box-shadow: 2px 2px 2px skyblue;
}
.my_content .item p{
  margin-top: 10px;
}